# .gitignore

# Ignora APENAS arquivos do Windows (ex: Zone.Identifier)
*.Identifier

# Ignora checkpoints do Jupyter (dentro da pasta notebooks)
notebooks/.ipynb_checkpoints/

# Ignora logs (dentro da pasta dados_editados)
dados_editados/*.log

# Ambiente virtual
.venv/
venv/

# Outros padrões
__pycache__/
*.pyc